nav ul {
  @apply flex flex-col items-center;
  gap: 2.5rem;
}

.active img {
  filter: brightness(1000%);
}

@media (max-width: 36rem) {
  .header {
    @apply min-h-0 flex-col;
    padding: 1.5625rem;
  }

  .wrapper {
    @apply h-auto;
  }

  header div {
    @apply flex items-center justify-between;
    flex-direction: row;
  }

  .content {
    @apply justify-between w-full;
  }

  .content img {
    margin: 0rem !important;
  }

  .header ul {
    @apply flex-row;
  }
}

@media (max-width: 64rem) {
  .header {
    @apply min-h-0 flex-col;
    padding: 1.5625rem;
  }

  .wrapper {
    @apply h-auto;
  }

  header div {
    @apply flex items-center justify-between;
    flex-direction: row;
  }

  .content {
    @apply justify-between w-full;
  }

  .content img {
    margin: 0rem !important;
  }

  .header ul {
    @apply flex-row;
  }
}

@media (max-width: 26.25rem) {
  .header {
    padding: 0px !important;
  }

  .wrapper {
    padding: 1rem;
    @apply rounded-none;
  }

  .logo {
    width: 1.5625rem;
    height: 1.25rem;
  }

  button {
    width: 1rem;
    height: 1rem;
  }

  ul {
    gap: 1.5rem !important;
  }
}

@media (max-width: 768px) {
  nav ul {
    @apply flex-row justify-around;
    gap: 1rem;
    width: 100%;
  }

  nav ul li {
    @apply flex-grow text-center;
  }

  button {
    @apply flex items-center justify-center;
  }

  img {
    width: 1.5rem;
  }
}
