<div class="mb-5 wrapper ">
  <app-input
    [placeholderText]="'Search for bookmarked shows'"></app-input>

  <p class="result HeadingL my-8 text-white"
    *ngIf="searchTerm.length !== 0">
    Found {{ filteredShows.length }} results for '{{ searchTerm }}'
  </p>

  <div
    *ngIf="searchTerm.length !== 0"
    class="wrapper-content flex flex-wrap gap-10">
    <div
      *ngFor="let show of filteredShows"
      class="card relative rounded-lg flex gap-2 flex-col">
      <div
        class="image w-[280px] h-[174px] rounded-lg bg-center bg-cover"
        [style.background-image]="'url(' + show.thumbnail.regular.large + ')'">
        <app-bookmark-button
          [showTitle]="show.title"
          [showBookmarkedImg]="show.isBookmarked"></app-bookmark-button>
      </div>
      <app-movie-info
        [movieData]="{
          title: show.title,
          year: show.year,
          category: show.category,
          rating: show.rating,
          isBookmarked: show.isBookmarked || false,
        isTrending: show.isTrending || false,
        thumbnail: show.thumbnail
        }"></app-movie-info>
    </div>
  </div>

  <div *ngIf="searchTerm.length === 0">
    <h2 class="HeadingL text-white my-8 text-xl">Bookmarked Movies</h2>
    <div class="wrapper-content flex flex-wrap gap-10">
      <div
        *ngFor="let movie of movies"
        class="card relative rounded-lg flex gap-2 flex-col">
        <div
          class="image w-[280px] h-[174px] rounded-lg bg-center bg-cover"
          [style.background-image]="
            'url(' + movie.thumbnail.regular.large + ')'
          ">
          <app-bookmark-button
            [showTitle]="movie.title"
            [showBookmarkedImg]="movie.isBookmarked"></app-bookmark-button>
        </div>
        <app-movie-info
          [movieData]="{
            title: movie.title,
            year: movie.year,
            category: movie.category,
            rating: movie.rating,
            isBookmarked: movie.isBookmarked || false,
        isTrending: movie.isTrending || false,
        thumbnail: movie.thumbnail
          }"></app-movie-info>
      </div>
    </div>

    <h2 class="text-white HeadingL my-8 text-xl">Bookmarked TV Series</h2>

    <div class="wrapper-content flex flex-wrap gap-10">
      <div
        *ngFor="let serie of series"
        class="card relative rounded-lg flex gap-2 flex-col">
        <div
          class="image w-[280px] h-[174px] rounded-lg bg-center bg-cover"
          [style.background-image]="
            'url(' + serie.thumbnail.regular.large + ')'
          ">
          <app-bookmark-button
            [showTitle]="serie.title"
            [showBookmarkedImg]="serie.isBookmarked"></app-bookmark-button>
        </div>
        <app-movie-info
          [movieData]="{
            title: serie.title,
            year: serie.year,
            category: serie.category,
            rating: serie.rating,
          isBookmarked: serie.isBookmarked || false,
        isTrending: serie.isTrending || false,
        thumbnail: serie.thumbnail
          }"></app-movie-info>
      </div>
    </div>
  </div>
</div>
